fastapi==0.129.0
uvicorn==0.41.0
python-multipart==0.0.22
python-dotenv==1.2.2
httpx==0.28.1
pydantic==2.12.5

# Firebase
firebase-admin==6.5.0

# Database
SQLAlchemy==2.0.46
PyMySQL==1.1.1

# AI / ML
tensorflow==2.20.0
numpy==2.4.2
opencv-contrib-python-headless
mediapipe==0.10.14
pillow==12.1.1

# Auth
PyJWT==2.11.0
cryptography==46.0.5